* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

@media (max-width: 1023px) {
  .featured_mugs_container {
    grid-template-columns: auto;
    justify-content: center;
  }
  .block_label,
  .premium_offer_container,
  .featured_mugs_item,
  .more_product_container {
    margin-bottom: 35px;
  }
  .more_product_container {
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .premium_offer_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .premium_offer_info_container {
    margin-top: 65px;
  }
}

@media (min-width: 1024px) {
  .featured_mugs_container {
    grid-template-columns: auto auto;
  }
  .block_label {
    margin-bottom: 100px;
  }
  .featured_mugs_item {
    margin-bottom: 115px;
  }
  .more_product_container {
    margin-bottom: 165px;
    grid-template-columns: auto auto auto;
  }
  .premium_offer_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .premium_offer_container {
    margin-bottom: 130px;
  }
}

.container {
  max-width: 940px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.block_label {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: rgba(29, 31, 46, 1);
}
.featured_mugs_container {
  display: grid;
  gap: 20px;
}
.featured_mugs_item,
.more_product_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.fearuted_mugs_image {
  width: 460px;
  height: 540px;
  margin-bottom: 35px;
}
.item_label {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
  color: rgba(29, 31, 46, 1);
}
.item_price {
  color: rgba(29, 31, 46, 0.7);
}
.discount_price {
  color: rgba(162, 95, 75, 1);
  font-size: 19px;
  line-height: 32px;
}
.old_price {
  color: rgba(29, 31, 46, 0.4);
  text-decoration: line-through;
}
.more_product_container {
  display: grid;
  gap: 17px;
}
.more_product_image {
  width: 300;
  height: 380px;
  margin-bottom: 35px;
}
.more_product_item {
  margin-bottom: 65px;
}
.premium_offer_container {
  display: flex;
  margin-bottom: 130px;
}
.premium_offer_info_title {
  font-size: 36px;
  line-height: 50px;
  color: rgba(29, 31, 46, 1);
  margin-bottom: 15px;
}
.premium_offer_info_container {
  width: 360px;
}
.premium_offer_info_text {
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 25px;
}
.default_size_text {
  font-size: 16px;
  line-height: 28px;
}
.start_btn {
  text-transform: uppercase;
  width: 175px;
  height: 40px;
  background-color: rgba(29, 31, 46, 1);
  color: rgba(255, 255, 255, 1);
}
.start_btn {
  cursor: pointer;
}
.premium_offer_image_container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.main_image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.featured_mugs_item:hover,
.more_product_item:hover{
  cursor: pointer;
}
