<template>
  <div id="app">
    <div class="container">
      <div class="block_label">&mdash; More product &mdash;</div>

      <b-carousel controls indicators :interval="10000">
        <b-carousel-slide v-for="(items, index) in slides" :key="index">
          <template v-slot:img>
            <div class="more_product_container">
              <div
                class="more_product_item"
                v-for="(slide, index) in items"
                :key="index"
              >
                <img
                  class="more_product_image"
                  :src="slide.image"
                  alt="more product image"
                />
                <div class="item_label">{{ slide.name }}</div>
                <div class="item_price default_size_text">
                  <div
                    v-if="!slide.discount"
                    class="item_price default_size_text"
                  >
                    $ {{ slide.price }} USD
                  </div>
                  <template v-if="slide.discount">
                    <span class="discount_price" v-show="slide.discountPrice"
                      >${{ slide.discountPrice }}&nbsp;</span
                    >
                    <span class="old_price">$ {{ slide.price }} USD</span>
                  </template>
                </div>
              </div>
            </div>
          </template>
        </b-carousel-slide>
      </b-carousel>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      slides: [
        //first slide data
        [
          {
            id: 1,
            name: "Red Love Cup",
            price: "37.00",
            discountPrice: "25.00",
            discount: true,
            image: require("@/img/Red Love Cup.png"),
          },
          {
            id: 2,
            name: "Black Tea Cup",
            price: "15.00",
            discount: true,
            discountPrice: "29.00",
            image: require("@/img/Black Tea Cup.png"),
          },
        ],
        [
          //second slide data
          {
            id: 3,
            name: "B&W Essentials Mug",
            price: "19.00",
            discount: true,
            discountPrice: null,
            image: require("@/img/B&W Essentials Mug.png"),
          },
          {
            id: 4,
            name: "Winter Style Mug",
            price: "25.00",
            discount: false,
            discountPrice: null,
            image: require("@/img/Winter Style Mug.png"),
          },
        ],
        [
          //third slide data
          {
            id: 5,
            name: "Ceramic Tea",
            price: "46.00",
            discount: false,
            discountPrice: null,
            image: require("@/img/Ceramic Tea.png"),
          },
          {
            id: 6,
            name: "No Handle Bar Cup",
            price: "34.00",
            discount: false,
            discountPrice: null,
            image: require("@/img/No Handle Bar Cup.png"),
          },
        ],
        //fourth slide data
        [
          {
            id: 7,
            name: "Espresso Cup by Mugs.co",
            price: "25.00",
            discount: false,
            discountPrice: null,
            image: require("@/img/Espresso Cup by Mugs.co.png"),
          },
          {
            id: 8,
            name: "Pink Premium Ceramic",
            price: "99.00",
            discount: false,
            discountPrice: null,
            image: require("@/img/Pink_Premium_Ceramic.png"),
          },
        ],
        //fifth slide data
        [
          {
            id: 9,
            name: "Summer Designer Cup",
            price: "29.00",
            discount: false,
            discountPrice: null,
            image: require("@/img/Summer Designer Cup.png"),
          },
          {
            id: 10,
            name: "Golden Designers Mug",
            price: "69.00",
            discount: true,
            discountPrice: "50.00",
            image: require("@/img/Golden_Designers_Mug.png"),
          },
        ],
      ],
    };
  },
};
</script>

<style scoped>
* {
  font-family: "Karla", sans-serif;
}
.item_price {
  color: rgba(29, 31, 46, 0.7);
}
.discount_price {
  color: rgba(162, 95, 75, 1);
  font-size: 19px;
  line-height: 32px;
}
.old_price {
  color: rgba(29, 31, 46, 0.4);
  text-decoration: line-through;
}
.container {
  max-width: 940px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.block_label {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: rgba(29, 31, 46, 1);
  margin-top: 30px;
  margin-bottom: 50px;
}
.more_product_container {
  display: grid;
  gap: 17px;
  margin-bottom: 165px;
  justify-content: center;
  grid-template-columns: auto auto;
}
.more_product_image {
  width: 300;
  height: 380px;
  margin-bottom: 35px;
}
.more_product_item {
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.more_product_item .item_price {
  height: 32px;
}
.more_product_container {
  margin: 0;
}
.more_product_item:hover {
  cursor: pointer;
}
* >>> .carousel-control-prev-icon,
* >>> .carousel-control-next-icon {
  width: 80px;
  height: 80px;
  background-color: rgba(100, 100, 100, 0.2);
}

* >>> .carousel-indicators li {
  background-color: #000;
}
</style>
